body
{
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #333D4B;
}

.title_alternate_big
{
    font-family: 'Fraunces', serif;
    font-size: 150px;
    font-weight: 900;
    line-height: 150px;
    color: #83888F;
}

.h1
{
    font-family: 'Fraunces', serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;
    color: #83888F;
}

.h2
{
    font-family: 'Fraunces', serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    color: #83888F;
}


.h3
{
    font-family: 'Fraunces', serif;
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
    color: #83888F;
}

.h4
{
    font-family: 'Fraunces', serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    color: #83888F;
    color: #333D4B;
}



.main_button_default,
.main_button_disabled
{
    width: 217px;
    height: 56px;
    border-radius: 6px;
    font-family: 'Fraunces', serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 25px;
    color: #FEFCF7;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_button_default
{
    background-color: #0E8784;
    cursor: pointer;
}

.main_button_default:hover
{
    background-color: #66D2CF;
}

.main_button_disabled
{
    background-color: #E2DEDB;
    cursor: default;
}


.menu_closed_disabled
{
    opacity: 0.5;
}


.arrow_up
{
    transform: rotate(180deg);
}

.big_selection_option_default
{
    position: relative;
    width: 228px;
    height: 250px;
    background-color: #F4F1EB;
    border-radius: 8px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.big_selection_option_default .h4
{
    margin-bottom: 24px;
}
  
/* Hide the browser's default radio button */
.big_selection_option_default input 
{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark 
{
    position: absolute;
    padding-top: 28px;
    padding-left: 26px;
    padding-right: 26px;
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    border-radius: inherit;
}

/* On mouse-over, add a grey background color */
.big_selection_option_default:hover input ~ .checkmark 
{
    background-color: #FDD6BA;
}

/* When the radio button is checked, add a blue background */
.big_selection_option_default input:checked ~ .checkmark,
.big_selection_option_default input:checked ~ .checkmark .h4
{
    background-color: #0E8784;
    color: #FFFFFF;
}

.flex
{
    display: flex;
}