*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #FEFCF7;
}

.standard_width_1
{
    max-width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
    margin: auto;
}

.standard_width_2
{
    max-width: 1280px;
    margin: auto;
}


.margin_bottom
{
    margin-bottom: 200px;
}

.two_columns
{
    flex: 1;
    display: flex;
}

.left
{
    flex: 1;
}

.right
{
    flex: 1;
}

footer
{
    margin-bottom: 88px;
}


.menu_bg
{
    display: none;
    position: absolute;
    z-index: 98;
    left: 0;
    top: 113px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(360deg, rgba(254,252,247,0.5), rgba(254,252,247,0.95), rgba(254,252,247,1));
}

.menu_mobile
{
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 99;
    display: none;
    margin-top: 54px;

}

.menu
{
    height: 113px;
    display: flex;
    align-items: center;
}


.menu .right
{
    display: flex;
    justify-content: flex-end;
}

.menu .right ul,
.menu_mobile ul
{
    display: flex;
}

.menu .right ul li,
.menu_mobile ul li
{
    list-style: none;
}

.menu .right ul li
{
    margin-right: 33px;
    
}

.menu .right ul li:nth-last-child(1)
{
    margin-right: 0;
}

.menu .right ul li a
{
    text-decoration: none;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.92px;
    color: #83888F;
}

.menu .right ul li a:hover
{
    color: #333D4B;
}


.menu_mobile ul
{
    flex-direction: column;
    align-items: center;
}

.menu_mobile ul li a
{
    text-decoration: none;
    text-transform: capitalize;
}

.menu_mobile ul li
{
    margin-bottom: 32px;
}

#closeMenu
{
    display: none;
}

#openMenu
{
    display: none;
}

.intro.margin_bottom
{
    margin-bottom: 183px;
}


.intro_container
{
    height: 600px;
    border-radius: 10px;
    background-image: url(../images/home/desktop/image-hero-coffeepress.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro_container .h1
{
    color: #FEFCF7;
    width: 491px;
    margin-bottom: 32px;
}

.intro_container p
{
    color: rgba(254, 252, 247, 0.8);
    width: 491px;
    margin-bottom: 56px;

}

.collection_container
{
    position: relative;
}

.collection_bg
{
    text-align: center;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;

}

.collection_bg p
{
    background-image: linear-gradient(360deg, rgba(254,252,247,0), rgba(212,213,212,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.collection_cards
{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.collection_card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 255px;
}

.collection_card img
{
    width: auto;
    height: inherit;
    margin-bottom: 0;
}

.collection_card h4
{
    text-align: center;
    margin-bottom: 24px;
}

.collection_card p
{
    text-align: center;
}

.why.margin_bottom
{
    margin-bottom: 350px;
}


.why
{
    position: relative;

}


.why_container
{
    height: 577px;
    border-radius: 10px;
    background-color: #2C343E;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why_container .h2
{
    margin-top: 100px;
    margin-bottom: 32px;
    color: #FEFCF7;
}

.why_container p
{
    width: 530px;
    color: rgba(254, 252, 247, 0.8);
    text-align: center;
}

.why_cards
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 345px;
    
}

.why_card
{
    width: 350px;
    height: 382px;
    background-color: #0E8784;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.why_card_img
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 202px;
}

.why_card_img img
{
    margin-top: 11px;
}

.why_card h4, .why_card p
{
    text-align: center;
    width: 255px;
    color: #FEFCF7;
}

.why_card h4
{
    margin-bottom: 24px;
}



.how_container .h4
{
    color: #83888F;
    margin-bottom: 80px;
}

.how_cards
{
    display: flex;
    position: relative;
    margin-bottom: 64px;
}

.how_card
{
    width: 285px;
    height: 453px;
    margin-right: 95px;
}

.how_card:nth-last-child(1)
{
    margin-right: 0;
}

.timeline
{
    z-index: -1;
    width: 760px;
    height: 2px;
    background-color: #FDD6BA;
    position: absolute;
    top: 15px;
    left: 15px;
}
.circle
{
    width: 31px;
    height: 31px;
    border-radius: 50%;
    border: 2px solid #0E8784;
    background-color: #FEFCF7;
    margin-bottom: 67px;
}


.how_card .h1
{
    color: #FDD6BA;
    margin-bottom: 38px;
}

.how_card .h3
{
    width: 255px;
    color: #333D4B;
    margin-bottom: 42px;
}

.how_card .p
{
    color: #333D4B;
}


.footer
{
    height: 120px;
    background-color: #2C343E;
}

.footer_container
{
    height: inherit;
    display: flex;
}

.footer_container .col_01
{
    height: inherit;
    width: 255px;
    display: flex;
    align-items: center;
}

.footer_container .col_02
{
    height: inherit;
    width: 570px;
    display: flex;
    align-items: center;
    padding-left: 80px;
}

.footer_container .col_03
{
    height: inherit;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.col_02 ul
{
    display: flex;
}

.col_02 ul li
{
    list-style: none;
}

.col_02 ul li a
{
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    color: #83888F;
    margin-right: 33px;
}

.col_02 ul li a:hover
{
    color: #FEFCF7;
}



.col_03 a
{
    margin-left: 24px;
}


.col_03 a:hover svg
{
    fill: #FDD6BA;
}

.col_03 a svg
{
    display: block;
}

/*Tablet version*/
@media (min-width: 768px) and (max-width: 1231px)
{
    body
    {
        padding-left: 39px;
        padding-right: 39px;
        font-size: 15px !important;
        line-height: 25px !important;
    }

    .menu_bg
    {
        top: 119px;
    }
    .menu
    {
        height: 119px;
    }

    .standard_width_2
    {
        max-width: 689px;
    }

    .standard_width_1
    {
        max-width: 689px;
        padding-left: 58px;
        padding-right: 58px;
    }


    .intro_container
    {
        height: 500px;
        background-image: url(../images/home/tablet/image-hero-coffeepress.jpg);
        background-size: cover;

    }

    .intro_container .h1
    {
        font-size: 48px;
        line-height: 48px;
        width: 398px;
        margin-bottom: 24px;
    }

    .intro_container p
    {
        width: 398px;
        margin-bottom: 40px;

    }

    .title_alternate_big
    {
        font-size: 96px !important;
        line-height: 96px !important;
    }

    .collection_cards
    {
        flex-direction: column;
        justify-content: normal;
        align-items: center;
        padding-top: 45px;
    }

    .collection_card
    {
        display: flex;
        flex-direction: row;
        width: 573px;
        height: 193px;
        margin-bottom: 32px;
    }

    .collection_card h4
    {
        text-align: left;
        margin-bottom: 24px;
    }
    
    .collection_card p
    {
        text-align: left;
    }

    .collection_card_description
    {
        width: 100%;
        padding-left: 35px;
    }

    .collection.margin_bottom
    {
        margin-bottom: 111px;
    }

    .why_container
    {
        height: 573px;
    }

    .why_container .h2
    {
        font-size: 32px;
        margin-top: 57px;
        margin-bottom: 24px;
        color: #FEFCF7;
    }

    .why_container p
    {
        width: 495px;
    }

    .why_cards 
    {
        flex-direction: column;
        top: 275px;
    }

    .why_card
    {
        width: 573px;
        height: 180px;
        flex-direction: row;
        align-items: center;
        margin-bottom: 24px;
    }


    .why_card_img
    {
        width: 180px;
        height: inherit;
    }

    .why_card_img img
    {
        margin-top: 11px;
        width: 56px;
        height: 56px;
    }

    .why_card:nth-last-child(1) .why_card_img img
    {
        width: 55px;
        height: 39px;
    }

    .why_card_content
    {
        flex: 1;
    }

    .why_card h4, .why_card p
    {
        text-align: left;
        width: 344px;
    }

    .why_card h4
    {
        margin-bottom: 16px;
    }

    .why.margin_bottom
    {
        margin-bottom: 435px;
    }

    .how_container.standard_width_1
    {
        padding: 0;
    }

    .how_container .h4
    {
        margin-bottom: 40px;
    }


    .how_cards
    {
        margin-bottom: 44px;
    }

    .how_card
    {
        width: 223px;
        height: 100%;
        margin-right: 10px;
    }

    .circle
    {
        margin-bottom: 48px;
    }

    .how_card .h1
    {
        margin-bottom: 42px;
    }

    .how_card .h3
    {
        margin-bottom: 38px;
        width: inherit;
        font-size: 28px;
    }

    .how_card p
    {
        width: 211px;
    }

    .timeline
    {
        width: 470px;
    }

    .how.margin_bottom
    {
        margin-bottom: 144px;
    }

    .footer
    {
        height: 270px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer_container
    {
        flex-direction: column;
        height: auto;
    }

    .footer_container .col_01
    {
        width: 100%;
        justify-content: center;
        height: auto;
        margin-bottom: 28px;
    }

    .footer_container .col_02
    {
        width: 100%;
        height: auto;
        padding: 0;
        justify-content: center;
        margin-bottom: 60px;

    }

    .footer_container .col_02 ul li:nth-last-child(1) a
    {
        margin-right: 0;
    }
    
    .footer_container .col_03
    {
        width: 100%;
        height: auto;
        flex: auto !important;
        justify-content: center;
    }


    .col_03 a:nth-child(1)
    {
        margin-left: 0;
    }

}


@media (max-width: 375px)
{


    body
    {
        padding-left: 24px;
        padding-right: 24px;
        font-size: 15px !important;
        line-height: 25px !important;
    }

    .standard_width_2
    {
        max-width: 327px;
    }

    .standard_width_1
    {
        max-width: 327px;
        padding-left: 24px;
        padding-right: 24px;
    }


    .menu_bg
    {
        top: 76px;
    }
     

    .menu
    {
        height: 76px;
    }
    .menu .left
    {
        display: flex;
        align-items: center;
    }
    .menu .right
    {
        display: flex;
        align-items: center;
    }
    
    .menu .left img
    {
        width: 163px;
    }

    .menu .right nav
    {
        display: none;
    }

    .menu .right #openMenu
    {
        display: flex;
        align-items: center;
    }


    .intro.margin_bottom
    {
        margin-bottom: 136px;
    }
    .intro_container
    {
        height: 500px;
        background-image: url(../images/home/mobile/image-hero-coffeepress.jpg);
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .intro_container .h1
    {
        font-size: 40px;
        line-height: 40px;
        width: 279px;
        margin-bottom: 24px;
        text-align: center;
    }

    .intro_container p
    {
        width: 279px;
        margin-bottom: 40px;
        text-align: center;

    }

    .title_alternate_big
    {
        font-size: 40px !important;
        line-height: 40px !important;
    }

    .collection_bg p
    {
        background-image: linear-gradient(360deg, rgba(254,252,247,0), rgba(131,136,143,1));
    }

    .collection_cards
    {
        flex-direction: column;
        justify-content: normal;
        align-items: center;
        padding-top: 70px;
    }

    .collection_card img
    {
        width: 200px;
        height: 151px;
        margin-bottom: 24px;
    }
    
    .collection_card
    {
        width: inherit;
        margin-bottom: 48px;
    }

    .collection_card h4
    {
        text-align: center;
        margin-bottom: 16px;
    }
    
    .collection_card p
    {
        text-align: center;
    }

    .collection_card_description
    {
        width: 100%;
        padding-left: 0;
    }

    .collection.margin_bottom
    {
        margin-bottom: 72px;
    }

    .why_container
    {
        height: 573px;
    }

    .why_container .h2
    {
        font-size: 28px;
        line-height: 28px;
        margin-top: 64px;
        margin-bottom: 24px;
        color: #FEFCF7;
    }

    .why_container p
    {
        width: 279px;
    }

    .why_cards 
    {
        flex-direction: column;
        top: 305px;
    }

    .why_card
    {
        width: 279px;
        height: 382px;
        align-items: center;
        margin-bottom: 24px;
    }


    .why_card_img
    {
        width: inherit;
        height: 200;
    }

    .why_card_img img
    {
        margin-top: 11px;
        width: 72px;
        height: 72px;
    }

    .why_card:nth-last-child(1) .why_card_img img
    {
        width: 72px;
        height: 50px;
    }

    .why_card_content
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .why_card p
    {
        width: 212px;
    }

    .why_card h4
    {
        margin-bottom: 22px;
    }

    .why.margin_bottom
    {
        margin-bottom: 1047px;
    }

    .how_container.standard_width_1
    {
        padding: 0;
    }

    .how_container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .how_container .h4
    {
        margin-bottom: 80px;
    }


    .how_cards
    {
        margin-bottom: 25px;
        flex-direction: column;
    }

    .how_card
    {
        width: 223px;
        height: 100%;
        margin-right: 10px;
    }

    .circle
    {
        margin-bottom: 48px;
        display: none;
    }

    .how_card
    {
        width: inherit;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 56px;
    }
    .how_card .h1
    {
        margin-bottom: 21px;
    }

    .how_card .h3
    {
        margin-bottom: 23px;
        width: inherit;
        font-size: 28px;
    }

    .how_card p
    {
        width: inherit;
        text-align: center;
    }

    .timeline
    {
        width: 470px;
        display: none;
    }

    .how.margin_bottom
    {
        margin-bottom: 119px;
    }

    .footer_container.standard_width_1
    {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .footer
    {
        height: 346px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer_container
    {
        flex-direction: column;
        height: auto;
    }

    .footer_container .col_01
    {
        width: 100%;
        justify-content: center;
        height: auto;
        margin-bottom: 38px;
    }

    
    .logo_size
    {
        scale: 0.92;
    }


    .footer_container .col_02
    {
        width: 100%;
        height: auto;
        padding: 0;
        justify-content: center;
        margin-bottom: 30px;

    }

    .footer_container .col_02 ul
    {
        flex-direction: column;
        align-items: center;
    }

    .footer_container .col_02 ul li a
    {
        margin-right: 0;
    }

    .footer_container .col_02 ul li
    {
        
        margin-bottom: 14px;
    }
    
    .footer_container .col_03
    {
        width: 100%;
        height: auto;
        flex: auto !important;
        justify-content: center;
    }


    .col_03 a:nth-child(1)
    {
        margin-left: 0;
    }
}