.intro_create_plan.margin_bottom
{
    margin-bottom: 177px;
}


.how.margin_bottom
{
    margin-bottom: 160px;
}

.order.margin_bottom
{
    margin-bottom: 168px;
}

.intro_create_plan_container
{
    height: 450px;
    border-radius: 10px;
    background-image: url(../images/plan/desktop/image-hero-blackcup.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro_create_plan_container .h1
{
    color: #FEFCF7;
    width: 491px;
    margin-bottom: 24px;
}

.intro_create_plan_container p
{
    color: rgba(254, 252, 247, 0.8);
    width: 450px;

}

.how
{
    background-color: #2C343E;
    border-radius: 10px;
    height: 653px;
    display: flex;
    align-items: center;
}
.how_cards
{
    position: relative;
    margin: 0;
}

.timeline
{
    background-color: #FDD6BA !important;
    z-index: 0;
    left: 100px;
}

.circle
{
    position: relative;
    background-color: unset;
}

.how_card .h3,
.how_card p
{
    color: #FEFCF7;
}


.order .summary
{
    width: 255px;
}

.summary_item
{
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(131, 136, 143, 0.25);
    
}

.summary_item:nth-child(1)
{
    padding-top: 0;
}
.summary_item:nth-last-child(1)
{
    border: 0;
    padding-bottom: 0;
}

.summary_item_content
{
    display: flex;
    opacity: 0.4;
    cursor: pointer;
}


.summary_item_content:hover
{
    opacity: 0.6;
}

.summary_item_content_disable
{
    display: flex;
    opacity: 0.2;
    cursor: not-allowed;
}

.number_item
{
    margin-right: 29px;
    color: rgba(131, 136, 143, 1) !important;
}


.title_item
{
    color: rgba(51, 61, 75, 1) !important;
}

.configuration
{
    padding-left: 125px;
    flex: 1;
}

.configuration_container
{
    margin-bottom: 88px;
}

.configuration_title
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.configuration_title:hover svg path
{
    fill: #66D2CF;
}

.configuration_title_disabled
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: not-allowed;
    opacity: 0.5;
}

.configuration_options
{
    display: none;
    justify-content: space-between;
    margin-top: 56px;
}

#withCapsule
{
    display: none;
}

.order_summary
{
    height: 208px;
    background-color: #2C343E;
    border-radius: 10px;
    padding-left: 64px;
    padding-right: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
}


.order_summary p
{
    text-transform: uppercase;
    color: #FFF;
    opacity: 0.5;
    margin-bottom: 8px;
}

.order_summary .h4,
.order_summary .h4 .noCapsule,
.order_summary .h4 .withCapsule
{
    color: #FFF;
    line-height: 40px;
}
.hide
{
    display: none;
}


.order_summary .h4 span,
.order_sumary_resume .h4 span,
#grindOrder
{
    color: #0E8784;
}

.create
{
    display: flex;
    justify-content: flex-end;
}


.number_item_checked
{
    color: #0E8784 !important;
}

.order_bg
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.order_sumary_resume
{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 540px;
    height: 597px;

}

.order_sumary_resume .title
{
    padding-left: 55px;
    padding-right: 55px;
    display: flex;
    align-items: center;
    color: #fff;
    width: inherit;
    height: 136px;
    background-color: #333D4B;
    border-radius: 8px 8px 0 0;
}

.order_sumary_resume .container
{
    padding-top: 61px;
    padding-left: 55px;
    padding-right: 55px;
    width: inherit;
    height: 461px;
    background-color: #FEFCF7;
    
    border-radius: 0 0 8px 8px;
}

.order_sumary_resume .container .h4
{
    color: #83888F;
    line-height: 40px;
}


.order_sumary_resume .container p
{
    margin-top: 3px;
    width: 428px;
}

.order_footer
{
    margin-top: 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order_footer .h3
{
    color: #333D4B;
}